@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    min-height: 100%;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans antialiased text-luxury-black bg-white m-0;
  }
}


.animated-gradient-text {
  background: linear-gradient(
    90deg,
    #ff6a00,
    #ffffff,
    #138808,
    #ff6a00
  );
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 7s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}